<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <!-- Database connection settings -->
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://localhost:5432/SailNow</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">L@wson12</property>

        <!-- JDBC connection pool (use the built-in) -->
       <!--   <property name="connection.pool_size">2</property>-->

        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>

        <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>

	
        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>  
		<property name="format_sql">true</property>
		<property name="hbm2ddl.auto">create</property>
		
  
 	<!-- 	<mapping resource="Hibernate/mapping/package.hbm.xml"/> 
		<mapping resource="Hibernate/mapping/user.hbm.xml"/>
		<mapping resource="Hibernate/mapping/saleitem.hbm.xml"/> -->
		<!--<mapping resource="Hibernate/mapping/accesstoken.hbm.xml"/>  -->
		<mapping class="com.sailnow.models.Items" />
    	<mapping class="com.sailnow.models.User" />
    	<mapping class="com.sailnow.models.SaleItem" />
    	<mapping class="com.sailnow.models.SaleItemId" />
    </session-factory>

</hibernate-configuration>
