body, html {
  margin: 0;
  padding: 0;
  background: #F5F5F5;
  width: 100%;
	background:url(https://images.unsplash.com/photo-1444627127335-900f8d0a77ab?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=bdbb1f4d6e5a7e91bb0c0d15d0172329);
	background-attachment: fixed;
    background-size: cover;  
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFF;
}
.navbar {
     margin-bottom: 0px;
}
.navbar-default .navbar-nav>.active>a {
    background-color: transparent;
    color:#ffffff;
}
.navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	color:#333333;
}
.navbar-default .navbar-nav>li>a {
    color: #ffffff;
}
.nav>li>a {
	font-size: .85rem !important;
    padding: 10px 5px;
    text-transform: uppercase;
    letter-spacing: .3px;
}

.navbar-default {
	background: transparent;
    border-color: transparent;
    box-shadow: none;	
}
nav ul li:hover, nav ul li.active {
	background-color: transparent;
}
ul.nav.navbar-nav {
    padding: 6px 0;	
}

#allpackages {
	opacity:.2;
	position:absolute;
	right:600px;
}
h6 {
    font-size: .8rem;
    text-align: center;
    line-height: 110%;
    margin: 0.5rem 0 0.4rem 0;
    text-transform: uppercase;
    padding: 7px 0;
    background:#D0FFFF;
}
.gSign img {
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
    -webkit-animation:spin 1000s linear infinite;
    -moz-animation:spin 1000ms linear infinite;
    animation:spin 1000ms linear infinite;	
}
@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
.btn a {
    color: #f5f5f5;
    text-decoration:none;
}
.btn a:focus, .btn a:hover {
    color: #EEFF5C;
    text-decoration:none;
}
.header {
	padding-top:15px;
	margin-bottom: 0;
}
.page-header {
	margin-top:0px;
}
.page-header h1 {
	/* line-height:30%; */
	font-size:2.2rem;
    margin: 0px;	
    text-transform:uppercase;
}
.page-header h1 a {
	color:#fff;
	text-decoration:none;
}
.page-header:hover i {
-moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";	
}
.container .title {
	padding-bottom:0px;	
}
.container .pagetitle p {
    border-left: 7px solid rgb(72, 90, 89);
    padding-left: 10px;	
}
.subtitle {
	padding-bottom:15px;
} 
p {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 17px;
    color: #ffffff;
    font-weight: 300;  
    letter-spacing:.5px;
	
}

.hvr-ripple-in {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}
.hvr-ripple-in:before {
  content: '';
  position: absolute;
  border: #e1e1e1 solid 4px;
  top: -12px;
  right: -12px;
  bottom: -12px;
  left: -12px;
  opacity: 0;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}
.hvr-ripple-in:hover:before, .hvr-ripple-in:focus:before, .hvr-ripple-in:active:before {
  -webkit-animation-name: hvr-ripple-in;
  animation-name: hvr-ripple-in;
}
.pbtn {
	text-align:center;
}
.container.title {
    padding-bottom: 20px;
}
.thumbnail {
    /* width: 31.3% !important; */
    margin: 0 0.5% 15px 0.5% !important;
    padding: 4px 4px 15px 4px !important;
    border-radius:0;
    border:0;
}
.thumbnail h5, .thumbnail h4 {
    text-align: center;
}
.thumbnail h4 {
    color: #EE6E73;
    text-transform: uppercase;
    font-size: 20px;
}
.thumbnail h5 {
    font-size:18px;
    text-transform: uppercase;
}
.thumbnail p {
	color:#333333;
	text-align:center;
	font-weight:400;
}
.thumbnail a>img, .thumbnail>img {
    margin-right: auto;
    margin-left: auto;
    height: 190px;
    width: 100%;
/*     position:absolute;
    clip:rect(0px, 0px, 180px, 0px); */
}
.bigbox {
	background:transparent !important;
	border-radius:0px;
	border:none;
	padding:4px 15px 15px 15px !important
}
.packfull {
	background:rgba(255,255,255,.8);
	padding-top: 20px;
}
.bigimg {
	overflow: hidden;
	width:100%;
	height:auto;
}
.bigimg a>img, .bigimg>img {
    margin-right: auto;
    margin-left: auto;
    height: auto;
    width: 100%;
/*     position:absolute;
    clip:rect(0px, 0px, 180px, 0px); */
}
.pack {
    width:100% !important;
}
.btn {
    margin-right: 5px;
    margin-left: 5px;
	padding: 0 1rem;
}
.wrapperInside {
    
    background-attachment: fixed;
    background-size: cover;
}
.wrapper {
    height:100vh;
    margin:0;	
}
.wrapper, .wrapperInside {


}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #1094B4;
}
.nav-pills>li>a {
	border-radius:0;
}

/*-------------ADD PACK PAGE-------------*/
p.help-block, input#file {
    color: #fff;
}
label {
    font-size: 1rem;
    color: #fff;
}
input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
	border-bottom:.5px dotted #fff;
	height:2rem;
	color: #fff;
	font-size:1rem;
	letter-spacing:.6px;
}
input#dur {
    color: #fff;
    margin: 0px;
}
/*---USER PAGE----*/
#userName {
    color: #fff;
    padding: 10px 0;
    text-transform: capitalize;
}

.sweet-alert h2 {
    color: #ee6e73;
    font-size: 21px;
    text-align: center;
    font-weight: 300;
    text-transform: none;
    position: relative;
    margin:0;
    padding: 0;
    line-height: 40px;
}
.application-info-div {
    width: 100%;
}

.main-connection-div {
  margin: 15px 0 0 0;
  padding: 15px 0 0 0;
 background: rgba(255, 255, 255, 0.08);
  margin-left: auto !important;
  margin-right: auto !important;
}

.icon-service {
  /*border-right: 125px solid #F5F5F5;*/

  margin: 0;
  padding: 0;
}
.icon-service img {
transform: rotate(180deg);
-webkit-transform: rotate(180deg);
-ms-transform: rotate(180deg);
-moz-transform: rotate(180deg);
    margin-top: -12px;	
}

.text-application-info-div {
  position: relative;

}

.title-text-application-info-div {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 43px;
font-weight: 300;
    width: 100%;
    color: #fff;
    letter-spacing:.5px;
}
p.description-text-application-info-div {
	font-size: 17px;
    color: #ffffff;
    font-weight: 300;	
    
}
.description-text-application-info-div {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 18px;
  width: 82%;
}

.application-status {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 17px;
    color: #ffffff;
    font-weight: 300;  
    letter-spacing:.5px;
    text-align: center;
}

.green-text {
  color: #2ecc71;
  font-size: 18px;
}

.cookies-used {

  background: rgba(0, 0, 0, 0.7);
  margin-left: auto !important;
  margin-right: auto !important;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #FFF;
  margin: 5px 0 5% 0;
  font-weight: 300;
  padding: 20px;
  transition: .4s background;
  display: none;
}

.cookies-used:hover {
  background: rgba(0, 0, 0, 0.65);
}

.log-in-main-connection-div {
  width: 50%;
  left: 0;
  height: 100%;
  float: left;
}

.register-main-connection-div {
  width: 50%;
  right: 0;
  height: 100%;
  float: left;
}

.title-log-in-main-connection-div {
  font-family: 'Roboto', sans-serif;
  font-size: 34px;
  font-weight: 300;
  margin: 5px 0 0 15px;
  padding: 0;
  color:#ffffff;
  
}

.title-register-main-connection-div {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 300;
  margin: 5px 0 0 15px;
  padding: 0;
}

 .main-connection-div .input-field {
   width: 80%;
   margin: 20px 0 0 30px;
 }
   
 /* label focus color */
.main-connection-div .input-field input[type=text]:focus + label {
   color: #3498db;
}

 /* label underline focus color */
 .main-connection-div .input-field input[type=text]:focus {
   border-bottom: 1px solid #3498db;
   box-shadow: 0 1px 0 0 #3498db;
 } 

/* valid color */
 .main-connection-div .input-field input[type=text].valid {
   border-bottom: 1px solid #2ecc71;
   box-shadow: 0 1px 0 0 #2ecc71;
 }

 /* invalid color */
 .main-connection-div .input-field input[type=text].invalid {
   border-bottom: 1px solid #e74c3c;
   box-shadow: 0 1px 0 0 #e74c3c;
 }

.password-forgotten {
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin: 15px 0 0 30px;
  width: 100%;
  height: 100%;
}

.remember-me-check {
  position: relative;
  top: 10px;
  margin: 0 0 0 10px;
}

.password-reset-div {
  display: none;
}

.black-complete-background {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  top: 0;
  z-index: 10000;
}

.content-password-reset-div {
  position: fixed;
  background: #F5F5F5;
  width: 40%;
  min-width: 600px;
  padding: 20px;
  top: 40%;
  margin-left: auto !important;
  margin-right: auto !important;
  left: 0;
  right: 0;
  z-index: 100000;
}

.title-content-password-reset-div {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 300;
}

.content-content-password-reset-div {
  margin: 20px 0 0 0;
  width: 100%;
}

.text-content-content-password-reset-div {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  width: 100%;
}

 .content-content-password-reset-div .input-field {
   width: 50%;
   margin: 20px 0 0 0;
 }
   
 /* label focus color */
.content-content-password-reset-div .input-field input[type=text]:focus + label {
   color: #3498db;
}

 /* label underline focus color */
 .content-content-password-reset-div .input-field input[type=text]:focus {
   border-bottom: 1px solid #3498db;
   box-shadow: 0 1px 0 0 #3498db;
 } 

/* valid color */
 .content-content-password-reset-div .input-field input[type=text].valid {
   border-bottom: 1px solid #2ecc71;
   box-shadow: 0 1px 0 0 #2ecc71;
 }

 /* invalid color */
 .content-content-password-reset-div .input-field input[type=text].invalid {
   border-bottom: 1px solid #e74c3c;
   box-shadow: 0 1px 0 0 #e74c3c;
 }

.options-alert {
  position: absolute;
  bottom: -60px;
  height: 60px;
  background: #F5F5F5;
  width: 100%;
  left: 0;
  padding: 20px 20px 40px 20px;
}

.right-options-alert {
  position: absolute;
  right: 0;
}

.options-alert a {
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  color: #777;
  padding: 10px 30px;
}

.menu-left {
	background: rgba(255, 255, 255, 0.87);

}
/*Bootstrap overrides*/
h1 {
	color: rgba(255, 255, 255, 0.75);
}
h3 {
    font-size: 22px;
    font-weight: bold;
    color: #fff;
}
.page-header {
    border-bottom: 1px solid rgba(238, 238, 238, 0.25);
    margin-top: 10px;
}
.nav-pills>li {
    color: #555;
    text-transform: uppercase;
    background:transparent;
}
.nav-pills>li>a:hover {
	background:#ffffff;
}
a.btn.btn-primary {
	margin-bottom:10px;
}
ul {
    padding: 20px 0 20px 20px;
}
.dtl {
	padding:30px;
	font-size:18px;
}
a.waves-effect.waves-light.btn-large {
	width:91% !important;
}
.waves-effect{
	width:800px;
}
.title-log-in-main-connection-div {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 300;
    margin: 5px 0 0 15px;
    padding: 0;
    text-align: center;
}
.mainImg {
	position:relative;
}
.price {
	position:absolute;
	padding:0 15px;
	right:15px;
	bottom:-1px;
	background: rgba(132, 225, 195, 0.84);
}
.price:hover {
	background: rgba(0,0,0,1.0);
	color:#c1c1c1;
}
	

@media only screen and (min-width: 993px){
	.container {
	    width: 85% !important;
	}
	
}

@media only screen and (max-width: 993px){
	.menu-left {
	    	margin-bottom: 20px;	
		}
	.nav>li>a {
	    font-size: .7rem;		
	}
	#userName, .logout {
	text-align: center;
	}
}