<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <filter>
  	<filter-name>AuthenticationFilter</filter-name>
  	<display-name>AuthenticationFilter</display-name>
  	<description></description>
  	<filter-class>com.sailnow.filters.AuthenticationFilter</filter-class>
  	<init-param>
  		<param-name>avoid-urls</param-name>
  		<param-value>index.jsp</param-value>
  	</init-param>
  </filter>
  <filter-mapping>
  	<filter-name>AuthenticationFilter</filter-name>
  	<url-pattern>/protected/*</url-pattern>
  </filter-mapping>
  <servlet>
  	<servlet-name>SampleServlet</servlet-name>
  	<display-name>SampleServlet</display-name>
  	<description></description>
  	<servlet-class>com.sailnow.servlets.SampleServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PackageService</servlet-name>
  	<display-name>PackageService</display-name>
  	<description></description>
  	<servlet-class>com.sailnow.servlets.PackageServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SignIn</servlet-name>
  	<display-name>SignIn</display-name>
  	<description></description>
  	<servlet-class>com.sailnow.servlets.SignInServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>oauth2callback</servlet-name>
  	<display-name>oauth2callback</display-name>
  	<description></description>
  	<servlet-class>com.sailnow.servlets.OAuthCodeCallbackHandlerServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Logout</servlet-name>
  	<display-name>Logout</display-name>
  	<description></description>
  	<servlet-class>com.sailnow.servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserService</servlet-name>
  	<display-name>UserService</display-name>
  	<description></description>
  	<servlet-class>com.sailnow.servlets.UserServiceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>SampleServlet</servlet-name>
  	<url-pattern>/SampleServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PackageService</servlet-name>
  	<url-pattern>/PackageService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SignIn</servlet-name>
  	<url-pattern>/SignIn</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>oauth2callback</servlet-name>
  	<url-pattern>/oauth2callback</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Logout</servlet-name>
  	<url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserService</servlet-name>
  	<url-pattern>/UserService</url-pattern>
  </servlet-mapping>
</web-app>
